<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="GET" th:action="@{/filter}">
<label>Order By Rating</label>
<br>
<select name="orderByRating" id="ratingOrder">
    <option value="highestFirst">Highest First</option>
    <option value="lowestFirst">Lowest First</option>
</select>
<br>


<label>Minimum Rating</label>
<br>
<select name="orderMinRating" id="minRatingOrder">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select>
<br>



<label>Order By Date</label>
<br>
<select name="orderByDate" id="dateOrder">
    <option value="newestFirst">Newest First</option>
    <option value="oldestFirst">Oldest First</option>
</select>
<br>


<label>Prioritize By Text</label>
<br>
<select name="orderByText" id="textOrder">
    <option value="Yes">Yes</option>
    <option value="No">No</option>
</select>
<br>
    <br>

<button type="submit">Filter</button>
</form>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Text</th>
        <th>Rating</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="review: ${reviews}">
    <td th:text="${review?.getId()}"></td>
    <td th:text="${review?.getReviewText()}"></td>
    <td th:text="${review?.getRating()}"></td>
    <td th:text="${review?.getReviewCreatedOnDate()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>